@media screen and (max-width:900px) {
    .app__aboutus{
        flex-direction: column;
    }
}
@media screen and (max-width:650px) {
    .app__aboutus{
        flex-direction: column;
    }
    .aboutus_img img{
        width: 80%;
        height: 350px;
    }
    
}